
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


* {
    padding: 0px;
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    border-radius: 10px;
}

.donjalinija {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.black {
    background-color: black;
}

#header img {
    width: 100px;
}

nav ul li {
    margin: 10px 20px 10px 20px ;
    font-size: 20px;
}


nav ul {
    margin: 0px auto;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-shadow:5px 5px 10px rgba(91, 169, 241, 0.479);
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(47, 95, 150);
    text-shadow:2px 2px 10px rgba(91, 169, 241, 0.479);
    transition: 0.2s;
}

.svetlo {
    background-color: rgba(0, 0, 0, 0.664);
}

/*Naslovna*/


#naslovna {
    height: 720px;
    background-image: url('../img/proba27.gif');
    background-size: cover;
    background-position: center;
    text-align: center;
}


#naslov {
    background-color: rgba(29, 58, 97, 0.26);
    margin-top: 60px;
    height: 300px;
    width: 100%;

}

#naslov h1,p {
    color: cornsilk;
    text-shadow:2px 2px 10px rgba(91, 169, 241, 0.479);
    letter-spacing: 2px;
    
}

.eyes {
    height: auto;
    background-color: black;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.content-eye  {
    background-image: url('../img/proba5.gif');
    background-position: center;
    background-size: cover;
    height: 500px;
}

.eyes img {
    width: 100%;
}


/*ostalo*/

  #naslovna-2 {
    height: 360px;
    background-image: url('../img/b44.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    text-align: center;
}


/*grain*/

.content-2 {
    height: auto;
    padding: 20px;
    padding-top: 75px;
}

.content-2 img {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.content-2 h4 {
    color: rgb(47, 95, 150);
}



.ico {
    text-align: center;
    padding-top: 25px;
}

.ico i {
    font-size: 30px;
    color: rgb(47, 95, 150);
    text-shadow:2px 2px 10px rgba(91, 169, 241, 0.479);
}

.remote { 
 color: rgb(100, 177, 228);
}

/*experience*/


#slajder {
    height: auto;
    background-color: black;
    padding-top: 50px;
    text-align: center;
}

#slajder h3 {
    color: rgb(255, 255, 255);
    text-shadow:2px 2px 10px rgba(246, 251, 255, 0.479);
    animation-iteration-count: 3;
    margin-bottom: 30px;
}

#muv {
    width: 70%;
    margin: 0px auto;
}

#muv img {
    width: 100%;
}


#content-exp {
    height: auto;
    background-color: black;
    text-align: center;
    padding-top: 90px;
    letter-spacing: 2px;
    padding-bottom: 40px;
}

#content-exp h4 {
    color: rgb(120, 134, 136);
}

#content-exp img {
    width: 200px;
    animation-iteration-count: infinite;
}

/*contact*/


#call {
    
    height: auto;
    margin-top: 40px;
    border-radius: 10px;
    border: 1px solid rgb(122, 122, 201);
    padding: 30px;
    padding-bottom: 60px;
}

.content-5 {
    border: 2px solid rgb(47, 95, 150);
    border-radius: 10px;
    height: 200px;
    margin-top: 50px;
    animation-iteration-count:1;
    animation-duration: 0.1s;
    box-shadow:2px 2px 50px 1px rgba(91, 169, 241, 0.479);
    box-shadow:1px 1px 30px 1px rgba(91, 169, 241, 0.479) inset;  
}



.content-5 i {
    font-size: 70px;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    margin-bottom: 15px;
}


#forma {
    height: 700px;
    padding-top: 50px;
    text-align: center;
}


input[type=email] , input[type=text] {
    background: none;
    border-radius: 10px;
    box-shadow:2px 2px 50px 1px rgba(91, 169, 241, 0.479);
    margin-top: 20px;
    margin-bottom: 50px;
   
}

input[type=text]  {
    height: 80px;
}


button[type=submit] {
    margin-top: 30px;
    background: none;
    color: cornsilk;
    border-radius: 10px;
    box-shadow:2px 2px 50px 1px rgba(91, 169, 241, 0.479);
    width: 30%;
    height: 40px;
    animation-iteration-count: infinite;

}

/* footer */ 

footer {
    padding-top: 30px;
    border-top: 1px solid rgb(255, 255, 255);
    text-align: center;
    line-height: 100px;
    flex-direction: row; 
    background-color: black;
}

footer p {
    font-size: 15px;
    text-shadow:2px 2px 10px rgba(91, 169, 241, 0.479);
}

footer i {
    margin: 10px;
    font-size: 20px;
    color: rgb(122, 191, 231);
    text-shadow:2px 2px 10px rgba(91, 169, 241, 0.479);
}

footer img {
    width: 100px;
    animation-iteration-count: infinite;
}



/*materialize*/ 
  /*autor*/ 
    
  #main {
      background-color: rgb(0, 0, 0);
      height: 200px;
      text-align: center;
 }

  #main h4 , h5  {
      color: rgb(255, 255, 255);
      text-shadow:5px 5px 10px rgba(32, 215, 221, 0.699);
  }


  #aboutme {
      height: auto; 
      text-align: center;
      letter-spacing: 1px;
  }

  .content-me {
      height: auto;
      margin-bottom: 60px;
      
  }

  .content-me i {
      font-size: 40px;
      margin-top: 20px;
      color: rgb(157, 218, 236);
     
  }

  .fon {
      margin-top: 20px;
  }

  .content-me img {
      width: 90%;
  }

  #projects {
      text-align: center;
      height: auto;
  }

  #portfolio {
   height: auto;
 }

  #portfolio img {
      filter: grayscale(100%);
      width: 90%;
  }

  #portfolio img:hover {
    filter: grayscale(0%);
    transition: 0.2s;
  }



 